<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }} - {{ site.title }}</title>
	{% if page.description %}
		<meta name="Description" content="{{ page.description }}">
	{% endif %}
	<link rel="shortcut icon" href="{{ 'favicon.ico' | absolute_url }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ '/assets/css/general.css' | absolute_url }}">
	<script type="text/javascript" src="{{ '/assets/js/lunr.min.js' | absolute_url }}"></script>
	<script type="text/javascript" src="{{ '/assets/js/general.js' | absolute_url }}"></script>
	{% seo %}
</head>